@font-face {
    font-family: 'trattatelloregular';
    src: url('../../fonts/trattatello-webfont.woff2') format('woff2'),
         url('../../fonts/trattatello-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'trattatelloregular';
}