@font-face {
    font-family: 'trattatelloregular';
    src: url('../../fonts/trattatello-webfont.woff2') format('woff2'),
         url('../../fonts/trattatello-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.card-title {
    font-family: 'trattatelloregular';
}

.card-text {
    font-family: 'Courier New';
    /* letter-spacing: 0.05em */
    line-height: 17px;
}

.btn {
    margin: 5px;
    color: white;
    font-family: 'Courier New';
    font-weight: 800;
}

a {
    color: white;
}

.book-card {
    padding: 20px;;
}